apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
  - name: Prometheus
    orgId: 1

# list of datasources to insert/update depending
# whats available in the database
datasources:
- name: Loki
  type: loki
  access: proxy
  url: http://127.0.0.1:3100
  jsonData:
    maxLines: 1000
- name: Prometheus
  type: prometheus
  access: proxy
  httpMethod: POST
  url: http://127.0.0.1:9090
